::selection {
	background-color : #7D8393;
	color : white;
}

html {
	font-size : 100%;
}

pre {
	tab-size : 4;
	-moz-tab-size : 4;
	max-height : 43em/*608px*/;
	overflow : auto;
	white-space : pre-wrap;
	margin-bottom : 18px;
}

div>pre {
	max-height : 32em;
}

a {
	/*color : #35b;
	font : bold italic 16px Arimo sans-serif;*/
	color : inherit;
	text-decoration : none;
	border-bottom : 2px solid #79f;
}

table.normal a {
	border-bottom : none !important ;
	text-decoration : underline;
	color : #46c;
}

table.normal a:hover {
	color : #68e;
}

a:hover {
	color : #46c;
}

section > h1 {
	padding : 6px;
	padding-left : 20px;
	background : white;
	font-family : 'Oswald', sans-serif;
	font-size : 1.625rem/*26px*/;
	letter-spacing : 1px;
	border-top-left-radius : 12px;
	border-top-right-radius : 12px;
	border-bottom : 1px solid #aaa;
	margin-top : 0;
	margin-left : 0 !important ;
	margin-right : 0 !important ;
	background-clip: text;
	-webkit-background-clip: text;
	background-image : linear-gradient(180deg, white, #204f61, #8f97af, white);
	color : transparent;
	-moz-user-select : none;
	-webkit-user-select : none;
	-ms-user-select : none;
	user-select : none;
}

code {
	font-family : 'Oxygen Mono', monospace;
	background-color : #f5f2f2;
	color : #700509;
	border-radius : 3px;
	font-size : /*.8125rem*/13px;
	padding : 0px 4px;
	box-shadow : 0 0 2px 2px #f5f2f2;
}

code.hljs {
	color : #3a3a3a;
}

/*li > code {
	font : bold 14px 'Oxygen Mono', monospace;
	background-color : #EBF3EB;
	color : #166316;
	border-radius : 5px;
	padding : 4px 8px;
}*/

p { line-height : 1.5; }

ul { list-style : circle; }

body {
	color : #444;
	background-color : #f7f6f5;
	font-family : 'Arimo', sans-serif;
	font-size : .9375rem/*15px*/;
}

main {
	/*width : 950px;*/
	width : 80%;
	max-width : 1000px;
	margin-left : auto;
	margin-right : auto;
	margin-top : 50px;
	margin-bottom : 100px;
	/*padding-right : 160px;*/
}

section {
	background-color : white;
	border : #aaa solid 1px;
	border-top : 1px solid #aaa;
	margin-bottom : 50px;
	padding-bottom : 20px;
	border-radius : 10px;
	box-shadow : 0 1px 5px rgba(0, 0, 20, 0.3), 0 0 25px rgba(0, 0, 20, 0.1) inset;
}

section > section {
	border : none;
	box-shadow : none;
	padding-top : 1px;
	margin-bottom : 10px;
}

section > section > h2 {
	font-size : 1rem/*16px*/;
	letter-spacing : 1px;
	color : #678;
	/*text-shadow : 1px 1px 2px #cde;*/
	padding-bottom : 4px;
	padding-top : 2px;
	margin-bottom : 20px;
	border-bottom : 2px solid #ddd;
	-moz-user-select : none;
	-webkit-user-select : none;
	-ms-user-select : none;
	user-select : none;
}

section > * {
	margin-left : 23px;
	margin-right : 23px;
}

section > section > * {
	transition : all .1s ease-out;
	margin-left : 0px;
	margin-right : 0px;
}

img.centered-pic {
	display : block;
	margin : 0 auto;
}

table.normal {
	margin : 0 auto !important ;
	background-color : #f8f8ff;
	box-shadow : -1px 0px 10px 0px #e3e3f0;
	max-width : 93%;
}

table.normal th {
	color : white;
	background-color : #89a;
	padding : 3px 6px;
	letter-spacing : 1px;
}

table.normal td {
	color : #555;
	background-color : white;
	box-shadow : inset 0px 0px 3vh 0px #e5e8f2;
	padding : 6px 12px;
}

table.normal td:first-child {
	font : bold 14px Arimo;
	letter-spacing : 1px;
	color : #678;
	text-align : center;
}

.linkified-heading:hover {
	cursor : pointer;
	background-color : #f0f2f4;
	color : #567;
}

img {
	display : block;
	margin : 2em auto 1em;
	box-shadow: 0px 0px 10px 0px #d3d3e0;
}

.clickable-cell {
	color : #46c;
	cursor : pointer;
	-moz-user-select : none;
	-webkit-user-select : none;
	-ms-user-select : none;
	user-select : none;
}

.clickable-cell:hover {
	text-decoration : underline;
}

table.functions {
	margin : 0 auto;
	width : 100%;
	border-collapse : collapse;
}

table.functions > tbody > tr > td {
	border-bottom : 1px solid #e3e3e3;
	padding : 8px 25px 9px 25px;
}

table.functions h3 {
	font-size : inherit;
	font-style : italic;
	color : #595959;
	letter-spacing : 1px;
	margin-bottom : -8px;
}

table.functions pre > code {
	padding-left : 10px;
	font-size : .8125rem/*13px*/;
}

table.functions > tbody > tr > th {
	color : #678;
	background-color : #f4f6f8;
	letter-spacing : 1px;
	padding : 9px 0 9px 15px;
	border-bottom : 1px solid #e3e3e3;
}

table.functions tr:first-child > td {
	padding-top : 0;
}

table.functions > tbody > tr > td:only-child {
	/*border-left : 1px solid #e3e3e3;
	border-right : 1px solid #e3e3e3;*/
	outline : 1px solid #abc;
	box-shadow : 0 -1px 10px 5px #f0f1f4 inset;
	margin-bottom : 15px;
	/*background-color : #fdfcfc;*/
}

table.functions h3 + p, table.functions h3 + div {
	margin-left : 20px;
}

h4 {
	color : #595959;
	padding-bottom : 2px;
	border-bottom : solid 1px #abc;
	margin-bottom : 10px;
	margin-top : 20px;
}

table.functions table {
	width : 100%;
	/*margin-bottom : 0px;*/
	margin-top : 15px;
}

table.functions table:last-child {
	margin-bottom : 18px;
}

table.functions table > tbody > tr > th {
	color : #555;
	background-color : #f4f6f8;
	padding-left : 17px;
	letter-spacing : 1px;
	font-style : italic;
}

table.functions table > tbody > tr:last-child > td > :last-child {
	margin-bottom : -5px;
}

table.functions table > tbody > tr > td > * {
	padding-left : 30px;
	margin-top : 5px;
}

table.functions > tbody > tr > td:first-child {
	width : 30%;
}

table.functions > tbody > tr > td > h4+p, table.functions > tbody > tr > td > div > h4+p {
	margin-top : -4px;
	padding-left : 17px;
}

table.functions > tbody > tr > td > h4+div
{
	padding-left : 17px;
}

ol {
	counter-reset : item -1;
	padding-left : 0px;
}

ol li {
	list-style : none;
	padding : 1px;
}

ol li:before {
	content : "(" counter(item) ") ";
	counter-increment : item;
}

em {
	font-style : italic;
	font-weight : normal;
}

ul li {
	/*list-style : square;*/
	list-style : none;
	padding : 3px;
}

td ul>li::before {
	content : "\25AA";
	color : dimgrey;
	display : inline-block;
	width : 1em;
	margin-left : -1em
}

span.ver {
	color : #008000;
	margin-left : 1em;
	font-size : 60%;
	letter-spacing : 1px;
}

nav {
	display : table;
	height : 100%;
	width : 260px;
	position : fixed;
	z-index : 1;
	top : 0;
	right : 0;
	background-color : #eee;
	overflow-x : hidden;
	opacity : .2;
	transition : opacity .08s ease-out;
	border-left : 1px solid transparent;
}

nav:hover {
	opacity : 1;
	border-left : 1px solid #abc;
}

ul#nav-list li:hover {
	background-color : white;
	color : #800;
	cursor : pointer;
}

ul#nav-list li {
	list-style : none;
	padding-left : 10px;
	color : black;
	-moz-user-select : none;
	-webkit-user-select : none;
	-ms-user-select : none;
	user-select : none;
}

ul#nav-list {
	padding : 10px;
	margin : 0px;
	font-family : 'Oxygen Mono', monospace;
	font-size : /*.6875rem*/11px;
	line-height : 13px;
	display: table-cell;
    vertical-align: middle;
	/*font-weight : bold;*/
}

hr {
	display : block;
    height : 1px;
    border : 0;
    border-top : 1px solid #abc;
    margin : 1.5em 0;
    padding : 0;
}

hr[hidden] {
	display : none;
}