body
{
	margin : 0;
	background-color : #f7f6f5;
}

#show-toc>div 
{
	height : 100%;
	position : relative;
}

#show-toc>div>div
{
	margin : 0;
	position : absolute;
	top : 50%;
	-ms-transform : translateY(-50%);
	transform : translateY(-50%);
	margin : 0 0 0 7px;
	width : 0; 
	height : 0; 
	border-top : 18px solid transparent;
	border-bottom : 18px solid transparent;
  
	border-left : 18px solid #b8c0c8;
}

#show-toc
{
	display : none;
	border-right : 1px solid #abc;
	background-color : #e9e9e9;
	height : 100%;
	width : 30px;
	position : fixed;
	z-index : 1;
	top : 0;
	left : 0;
}

#toc
{
	border-right : 1px solid transparent;
	opacity : .2;
	transition : opacity .08s ease-out;
	background-color : #eee;
	flex-basis : 300px;
	/*flex-grow : 0;*/
}

#toc:hover
{
	opacity : 1;
	border-right : 1px solid #abc;
}

#toc-ul
{
	/*overflow-y : scroll;*/
}

#frame
{
	flex-grow : 1;
}

#flex
{
	display : flex;
}

iframe
{
	display : block;
	width : 100%;
	height : 100vh;
	border : none; 
	overflow-y : auto; 
	overflow-x : hidden;

}

main
{
	width : 100%;
	min-width : 1200px;
	/*top right bottom left*/
	margin : /*top*/0 /*right*/0 /*bottom*/0 /*left*/0;
}


/**** TOC ****/

ul
{
	list-style-type : none;
}

#toc-ul
{
	margin : 15px;
	padding : 0;
}

.caret
{
	cursor : pointer;
	user-select : none;
	color : #777;
	font-family : 'Arimo', sans-serif;
	font-size : 1rem;
	font-weight : bold;
	letter-spacing : .03em;
}

ul#toc-ul>li>span.caret
{
	font-family : 'Oswald', sans-serif;
	font-size : 1.25rem;
	font-weight : normal;
}

.caret:hover
{
	color : darkgoldenrod;
}

.caret::before
{
	margin-right : 6px;
	margin-bottom : 1px;
	display : inline-block;
	content : '';
	width: 0; 
	height: 0;
	border-top: 0.32rem solid transparent;
	border-bottom: 0.32rem solid transparent;
	border-left: 0.5rem solid darkgoldenrod;
}

.caret-down::before
{
	transform : rotate(90deg);
	/*content : "\25BC";*/
}

.nested
{
	display : none;
	padding-left : 2.2em;
}

.active
{
	display : block;
	font-family : 'Arimo', sans-serif;
	font-size : 0.9375rem;
	color : #555;
}

.active li
{
	margin : 5px 0 5px 0;
}

.active li>span:only-child
{
	padding : 4px 10px 6px 10px;
}

.selected
{
	color : #8094c7;
	background-color : white;
	/*border : 0px solid #eee;*/
	border-radius : 1em;
	font-weight : bold;
	/*letter-spacing : .1em;*/
	letter-spacing : 1px;
	box-shadow : 0 0 3px 3px #eee inset;
}

.active li>span:only-child:hover:not(.selected)
{
	color : #57d;
	cursor : pointer;
}

ul *
{
	-moz-user-select : none;
	-webkit-user-select : none;
	-ms-user-select : none;
	user-select : none;
}
